<h1>Dashboard</h1>

<div class="row my-3">
  <div class="col-lg-3">
    <div class="p-40 gradient-green text-white shadow2 r-5">
      <div class="float-right">
        <span class="icon icon-document-file-app2 s-48"></span>
      </div>
      <div class="s-36 font-weight-bold"><%= @dashboard.total_names -%></div>
      <h6 class="counter-title">Total Names</h6>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="p-40 gradient-pink text-white shadow2 r-5">
      <div class="float-right">
        <span class="icon icon-document-file-app2 s-48"></span>
      </div>
      <div class="s-36 font-weight-bold"><%= @dashboard.total_female_names -%></div>
      <h6 class="counter-title">Total Female Names</h6>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="p-40 gradient text-white shadow2 r-5">
      <div class="float-right">
        <span class="icon icon-document-file-app2 s-48"></span>
      </div>
      <div class="s-36 font-weight-bold"><%= @dashboard.total_male_names -%></div>
      <h6 class="counter-title">Total Male Names</h6>
    </div>
  </div>
</div>